<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/simple.css"/>
        <title>MySQL Burger Express</title>        
    </head>
    <body>
        {{{ body }}}
    </body>
</html>