<li  class="green-text">
		 <i class="icon burger-icon"> <img src="assets/images/burger.png"> </img></i>
	{{burger_name}}	
	<br>
	<button class="delete-burger" data-id="{{this.id}}">
		Delete this burger
	</button>
</li>